jee7-jax-ws-starter/src/main/resources/META-INF/contract.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.course.realdolmen.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustumerSoapServiceEndPointService" targetNamespace="http://soap.course.realdolmen.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.course.realdolmen.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soap.course.realdolmen.com/">
  <xs:element name="Create" type="tns:Create"/>
  <xs:element name="CreateResponse" type="tns:CreateResponse"/>
  <xs:element name="QueryAll" type="tns:QueryAll"/>
  <xs:element name="QueryAllResponse" type="tns:QueryAllResponse"/>
  <xs:element name="QueryByName" type="tns:QueryByName"/>
  <xs:element name="QueryByNameResponse" type="tns:QueryByNameResponse"/>
  <xs:element name="QuerySingle" type="tns:QuerySingle"/>
  <xs:element name="QuerySingleResponse" type="tns:QuerySingleResponse"/>
  <xs:element name="address" type="tns:address"/>
  <xs:element name="customer" type="tns:customer"/>
  <xs:complexType name="Create">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="address" type="tns:address"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="number" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
      <xs:element minOccurs="0" name="street" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="QuerySingle">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuerySingleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="tns:address"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAll">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="QueryAllResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:customer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SOAPException" type="tns:SOAPException"/>
  <xs:complexType name="SOAPException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="SOAPException">
    <wsdl:part element="tns:SOAPException" name="SOAPException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Create">
    <wsdl:part element="tns:Create" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateResponse">
    <wsdl:part element="tns:CreateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryAllResponse">
    <wsdl:part element="tns:QueryAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryByNameResponse">
    <wsdl:part element="tns:QueryByNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QuerySingle">
    <wsdl:part element="tns:QuerySingle" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QuerySingleResponse">
    <wsdl:part element="tns:QuerySingleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryAll">
    <wsdl:part element="tns:QueryAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryByName">
    <wsdl:part element="tns:QueryByName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustumerSoapService">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:Create" name="Create">
    </wsdl:input>
      <wsdl:output message="tns:CreateResponse" name="CreateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySingle">
      <wsdl:input message="tns:QuerySingle" name="QuerySingle">
    </wsdl:input>
      <wsdl:output message="tns:QuerySingleResponse" name="QuerySingleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SOAPException" name="SOAPException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryAll">
      <wsdl:input message="tns:QueryAll" name="QueryAll">
    </wsdl:input>
      <wsdl:output message="tns:QueryAllResponse" name="QueryAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByName">
      <wsdl:input message="tns:QueryByName" name="QueryByName">
    </wsdl:input>
      <wsdl:output message="tns:QueryByNameResponse" name="QueryByNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SOAPException" name="SOAPException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustumerSoapServiceEndPointServiceSoapBinding" type="tns:CustumerSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Create">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Create">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySingle">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="QuerySingle">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="QuerySingleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="QueryAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="QueryAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="QueryByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="QueryByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustumerSoapServiceEndPointService">
    <wsdl:port binding="tns:CustumerSoapServiceEndPointServiceSoapBinding" name="CustumerSoapServiceEndPointPort">
      <soap:address location="http://localhost:8080/jee7-jax-ws-starter/CustumerSoapServiceEndPoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>